.Pokecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: lightgray;
    border-radius: 8px;
    width: 250px;
}

.Pokecard-name {
    text-align: center;
    color: blue;
    margin: 10px 0;
    font-weight: 600;
}

.Pokecard-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.Pokecard-type, .Pokecard-exp {
    margin: 5px 0;
}